{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <header class="post-header">
        <h2>{{ post.title }}</h2>
        <p class="post-date">Published {{ post.publish }} by {{ post.author }}</p>
    </header>
    {{ post.body|linebreaks }}
    <section>
        <p style="margin-top:12px"><a href="{% url 'blog:post_share' post.id %}">Share this post</a></p>
        {% with comments.count as total_comments %}
            <h2>
                {{total_comments}} comment{{total_comments|pluralize}}
            </h2>
        {% endwith %}
    </section>
{% endblock content %}